@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Comfortaa:wght@300;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root {
    --bg-main: #fcf1f2;       /* Un rosa muy muy pálido, más cálido */
    --accent: #b5ced1;        /* Verde azulado de tus nubes */
    --text: #4a4a4a;
    --white: #ffffff;
}

body {
    background-color: var(--bg-main);
    font-family: 'Comfortaa', cursive; /* Letra más redondita y cozy */
    color: var(--text);
}

/* PORTADA (HERO) */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
                url('assets/tu-mejor-obra.gif'); /* AQUÍ VA TU GIF */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

/* SECCIÓN DE PROYECTOS (CUENTOS Y JUEGOS) */
.projects-section {
    padding: 5rem 10%;
    background-color: var(--white); /* Contraste para que resalte */
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: #8e7d7d;
}

/* Ajuste del Logo */
.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: #d4a373;
}
